body {
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #342180;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.container {
    grid-row: 3 / 6;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Border around the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
}

h1 {
    font-size: 3.5em;
    margin-bottom: 1px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
}

input {
    width: 200px;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 126, 95, 0.5), rgba(254, 180, 123, 0.5));
    color: white;
    text-align: center;
    outline: none;
    transition: background 0.3s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    background: linear-gradient(90deg, rgba(255, 126, 95, 0.7), rgba(254, 180, 123, 0.7));
}

button {
    margin-top: 20px; /* Space between input and button */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradient */
    transition: 0.3s;
}

button.hover {
    background: linear-gradient(90deg, #b68376, #ffffff);
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
}