<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO No Mercy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <div class="banner">
            <h1 id="main-title">Welcome to UNO no Mercy</h1>
            <p id="catch-line">Play UNO with your friends online!</p>
    </div>
    <div class="button-container">
        <button id="createRoom" class="button">Create Room</button>
        <button id="joinRoom" class="button">Join Room</button>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>