<!DOCTYPE html>
<html lang="en">
<head>
    <title>UNO by TAMO</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <div id="error-message" class="error-message" role="alert"></div>
    <div class="background-glow"></div>
    <div class="content-wrapper">
        <div class="section main-content active">
            <div class="form-container">
                <h1>UNO No Mercy</h1>
                <button id="create-room-btn">Create Room</button>
                <button id="join-room-btn">Join Room</button>
            </div>
        </div>
        <div class="section create-room-content right">
            <div class="form-container">
                <h2>Create Room</h2>
                <label for="create-player-name">Name:</label>
                <input type="text" id="create-player-name">
                <button id="create-room-submit">Create Room</button>
                <button class="back-btn">Back</button>
            </div>
        </div>
        <div class="section join-room-content right">
            <div class="form-container">
                <h2>Join Room</h2>
                <label for="join-player-name">Name:</label>
                <input type="text" id="join-player-name">
                <label for="join-room-code">Room Code:</label>
                <input type="text" id="join-room-code">
                <button id="join-room-submit">Join Room</button>
                <button class="back-btn">Back</button>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>