<!DOCTYPE html>
<html>
<head>
    <title>UNO Room</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var roomCode = "{{ room_code }}";
    </script>
</head>
<body>
    <h1>UNO Room: {{ room_code }}</h1>
    <h2>Players:</h2>
    <ul id="player-list"></ul>

    <!-- Add below player list -->
    <h2>Discard Pile</h2>
    <div id="discard-top"></div>

    <h2>Your Hand</h2>
    <div id="hand-container"></div>

    <h2 id="current-turn"></h2>
        
    <!-- Start Game Button (only for the first player) -->
    <button id="start-game-btn" style="display: none;">Start Game</button>
    
    <button id="leave-room-btn">Leave Room</button>

    <!-- Add this button after start game button -->
    <button id="draw-card-btn" style="display: none;">Draw Card</button>

    <!-- Add this button after start game button -->
    <button id="play-card-btn" style="display: none;">Play Card</button>


    <script src="/static/js/room.js"></script>
</body>
</html>
